.git-new {
    color: #F58E8E;
}

.git-ignore {
    color: #949494;
}

.git-i-del {
    text-decoration: line-through;
}

.git-i-add {
    color: #A9D3AB;
}

.git-i-mod {
    color: #A9D3AB;
}

.git-wt-mod {
    color: #FED37E;
}