.git-index-new,
.git-index-modified {
    color: #A9D3AB;
}

.git-index-deleted {
    text-decoration: line-through;
}

.git-wt-new {
    color: #F58E8E;
}

.git-wt-modified {
    color: #FED37E;
}

.git-ignored {
    color: #949494;
}